<p>
  <strong>Commenter:</strong>
  <%= comment.user.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <% if current_user.present? && current_user.id == comment.user.id %>
    <%= link_to 'Delete', [comment.article, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Edit', edit_article_comment_path(comment.article, comment) %> |
  <% end %>

  <% from_reply_form ||= nil %>
  <% unless from_reply_form %>
    <%= link_to 'Reply', new_article_comment_path(comment.article, comment.id) %>
  <% end %>

</p>
